QMainWindow{
    background-color: #444444;
    color:rgb(255, 255, 255);

}
QPushButton{
    background-color: #5285a6;
    color: #bdbdbd;
}
QLineEdit{
    background-color: #2b2b2b;
    border-radius: 2px;
}