QMainWindow{
    background-color: #222222;
}
QGraphicsView{
    background-color: #3d3d3d;
}
QLabel{
    color: #ffffff;
}
QSlider::groove:horizontal {

}
QMenu{
    background-color: #2e2e2e;
    color: #ffffff;
}
QMenuBar {
    background-color: #e6e6e6;
}